.tiles {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.tile {
    border: 1px solid var(--p-panel-border-color);
    padding: 1rem;
    align-items: center;
    display: flex;
    gap: 1rem;
}

a.tile {
    text-decoration: none;
    color: inherit;

    &:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }
}
