<div class="vertical">
    <p-panel>
        <ng-template pTemplate="header">
            <div class="horizontal" style="width: 100%">
                <h1>Verbundene Konten</h1>
            </div>
        </ng-template>
        @if (status) {
            <div class="vertical">
                <div class="tiles">
                    @for (connectedAccount of status.connectedAccounts; track connectedAccount) {
                        <div class="tile">
                            <i class="pi pi-envelope" style="font-size: 200%"></i>
                            <span>{{ connectedAccount }}</span>
                            <p-button icon="pi pi-times" [rounded]="true" [text]="true" severity="danger" (click)="onDeleteConnectedAccount(connectedAccount)"></p-button>
                        </div>
                    }

                    @if (status.gmailLoginUrl) {
                        <a class="tile" href="{{ status.gmailLoginUrl }}">
                            <i class="pi pi-plus" style="font-size: 200%"></i>
                            <span>Google Konto verbinden...</span>
                        </a>
                    } @else {
                        Google Integration ist nicht aktiviert.
                    }
                </div>
            </div>
        }
    </p-panel>

    <p-panel>
        <ng-template pTemplate="header">
            <div class="horizontal" style="width: 100%">
                <h1>Überwachte Absenderadressen</h1>
                <div class="spacer"></div>
                <p-button label="Neue Adresse" (onClick)="onAddAddressClicked()" />
            </div>
        </ng-template>

        E-Mail von den folgenden Absenderadressen werden überwacht und automatisch anhand des konfigurierten Prompts importiert. E-Mails von anderen Absender
        werden ignoriert.<br><br>

        @if (monitoredAddresses().length > 0) {
            <p-table [value]="monitoredAddresses()" [scrollable]="true" [tableStyle]="{'min-width':'50rem'}">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Adresse</th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-monitoredAddress let-index="rowIndex">
                    <tr [pReorderableRow]="index">
                        <td>
                    <span style="padding-right: 1rem;">
                        {{ monitoredAddress.address }}
                    </span>
                        </td>
                        <td style="text-align: right;">
                            <p-button icon="pi pi-pencil" (onClick)="onEditMonitoredAddress(monitoredAddress)" title="Adresse bearbeiten" rounded="true"
                                      [style]="{ 'margin-right': '.5em' }" variant="text"/>
                            <p-button icon="pi pi-trash" (onClick)="onDeleteMonitoredAddress(monitoredAddress)" severity="warn" title="Adresse löschen"
                                      rounded="true" variant="text" [style]="{ 'margin-right': '.5em' }"/>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        } @else {
            <div style="opacity: 0.5; padding: 1rem 0; font-style: italic">Es wurden noch keine Adressen konfiguriert.</div>
        }
    </p-panel>
</div>
