@for (block of blocks; track block) {
<p-panel [style]="{'margin-bottom': '3rem'}">
    <ng-template pTemplate="header">
        <div style="display: flex; width: 100%; align-items: center;">
            <b style="flex: 1; font-size: 1.5rem;">{{block.title}}</b>

            <div class="header-value">
                <div>Buchungen</div>
                <span style="font-size: 1.5rem;">{{ block.transactions.length }}</span>
            </div>

            <div class="header-value">
                <div>Einnahmen</div>
                <app-value [value]="block.income" size="1.5rem" />
            </div>

            <div class="header-value">
                <div>Ausgaben</div>
                <app-value [value]="block.expense" [reverseColor]="true" size="1.5rem" />
            </div>

            <div class="header-value">
                <div>Gesamt</div>
                <app-value [value]="block.total" size="1.5rem" />
            </div>

        </div>
    </ng-template>

    <div class="flex-col">
        <div class="line header">
            <div class="date oneLine">Datum</div>
            <div class="name oneLine">Gegenkonto</div>
            <div class="purpose oneLine">Verwendungszweck</div>
            <div>Wert</div>
        </div>

        @for (transaction of block.transactions; track transaction){
            <div style="display: flex" class="line">
                <div class="date oneLine">{{ transaction.date! | customDate }}</div>
                <div class="name oneLine">{{ transaction.name }}</div>
                <div class="purpose oneLine">{{ transaction.purpose }}</div>
                <div><app-value [value]="transaction.value" /></div>
            </div>
        }
    </div>

</p-panel>
}