.date {
    min-width: 7rem;
}

.name {
    flex: 1;
    max-width: 20%;
}

.purpose {
    flex: 1
}

.line:not(.header){
    cursor: pointer;
}

.line:not(.header):hover {
    background: lightblue;
}