.form-field {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 100px auto;
    grid-template-areas:
        "label input"
        ". validation";
}

.form-field>*:nth-child(1) {
    align-self: center;
}

.form-field>*:nth-child(3) {
    grid-area: validation;
}