:host {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.wrapper {
    flex: 1;
    height: 100%;
    background: var(--surface-ground);;
    height: 100%;
    overflow-y: scroll;
}

.content {
    max-width: 1600px;
    margin: auto;
    padding: 1.5rem;
}