<div class="vertical">
    <div class="horizontal" style="gap: 1rem">
        Aktie:
        <p-dropdown [options]="possibleStocks" optionLabel="name" optionValue="id" [(ngModel)]="selectedStockId"></p-dropdown>
        Interval:
        <p-dropdown [options]="possibleIntervals" [(ngModel)]="selectedInterval" (ngModelChange)="update()"></p-dropdown>
    </div>

    <p-panel>
        <p-header>
            <h1>Verlauf</h1>
        </p-header>
        @if (chart !== undefined) {
            <highcharts-chart [Highcharts]="Highcharts" constructorType="stockChart" [options]="chart" style="width: 100%; display: block"></highcharts-chart>
        }
    </p-panel>
</div>
