<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
	<Playwright>
		<BrowserName>chromium</BrowserName>
		<LaunchOptions>
			<Headless>false</Headless>
		</LaunchOptions>
	</Playwright>


	<RunConfiguration>
		<EnvironmentVariables>
			<DEBUG>pw:api</DEBUG>
			<DB_PROVIDER>sqlite</DB_PROVIDER>
		</EnvironmentVariables>
	</RunConfiguration>
</RunSettings>
