@if(appDetails !==  undefined) {
    <table>
        <tr>
            <td><b>Build Time: </b></td>
            <td>{{ appDetails.buildTime }}</td>
        </tr>
        <tr>
            <td><b>Build Commit: </b></td>
            <td>{{ appDetails.buildCommit }}</td>
        </tr>
        <tr>
            <td><b>Dotnet Version: </b></td>
            <td>{{ appDetails.dotNetVersion }}</td>
        </tr>
        <tr>
            <td><b>Os Description: </b></td>
            <td>{{ appDetails.osDescription }}</td>
        </tr>
    </table><br><br>
}

<p-button (onClick)="OnReprocessTransactionpParsingClicked()">Reprocess transaction parsing</p-button><br><br>
<p-button (onClick)="OnReimportStockDataLast30DaysClicked()">Reimport stock data (last 30 days)</p-button><br><br>
<p-button (onClick)="OnReseedDatabaseClicked()">Reseed Database</p-button><br><br>

@if (runningProcesses.length > 0) {
<table>
    <tr>
        <th>Id</th>
        <th>Start</th>
        <th>Fehler</th>
    </tr>
    @for (p of runningProcesses; track p.processId) {
    <tr>
        <td>{{ p.processId }}</td>
        <td>{{ p.startTime }}</td>
        <td>{{ p.error }}</td>
    </tr>
    }
</table>
}
