<p-tabs value="0">
    <p-tablist>
        <p-tab value="0">Details</p-tab>
        <p-tab value="1">Original</p-tab>
    </p-tablist>
    <p-tabpanels [style]="{'padding': '0'}">
        <p-tabpanel value="0" [style]="{'padding': '1rem 0 0 0'}">
            <app-transaction-details-tab #detailsTab
                [transactionId]="id"
                (saved)="onSaved()"
            />
        </p-tabpanel>
        <p-tabpanel value="1" [style]="{'padding': '1rem 0 0 0'}">
            <app-transaction-raw-data-tab
                [transactionId]="id"
            />
        </p-tabpanel>
    </p-tabpanels>
</p-tabs>

<div style="padding-top: 1rem">
    <div class="horizontal">
        <div class="spacer"></div>
        <p-button [outlined]="true" [style]="{ 'min-width': '100px' }" (click)="onCancelClicked()" label="Abbrechen"></p-button>
        <p-button [style]="{ 'min-width': '100px' }" [disabled]="!detailsTab?.form?.valid" (click)="detailsTab?.onSubmit()" label="Ok"></p-button>
    </div>
</div>
