a {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    padding: 2rem 1rem;
    width: 100%;
    color: var(--text-color);
    background-color: var(--surface-200);
    margin: 2rem 1rem;
    font-size: 1.5rem;
    border-radius: 8px;

    :first-child {
        flex: 1
    }
}

a:hover {
    background-color: var(--surface-300);
}