a {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    padding: 2rem 1rem;
    width: 100%;
    color: var(--p-text-color);
    background-color: var(--p-content-background);
    margin: 2rem 1rem;
    font-size: 1.5rem;
    border-radius: 8px;

    :first-child {
        flex: 1;
    }
}

a:hover {
    background-color: var(--p-navigation-item-focus-background);
}

.total {
    grid-area: total;
}
.accounts {
    grid-area: accounts;
}
.stocks {
    grid-area: stocks;
}

.months {
    grid-area: months;
}

.balance-history {
    grid-area: balance-history;
}

.stock-history {
    grid-area: stock-history;
}

.dashboard {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "total           total"
        "accounts        stocks"
        "balance-history stock-history"
        "months          months";
}

@media only screen and (max-width: 1000px) {
    .dashboard {
        grid-template-areas:
            "total           total"
            "accounts        accounts"
            "stocks          stocks"
            "balance-history balance-history"
            "stock-history   stock-history"
            "months          months";
    }
}


table {
    width: 100%;
    border-collapse: collapse;
}
td {
    text-align: left;
    margin: 0;
    padding: 7px 0.5rem;
}
th {
    text-align: left;
    border-bottom: 1px solid var(--gray-600);
    margin: 0;
    padding: 7px 0.5rem;

}

.right {
    text-align: right;
}
