<p-button (click)="onSyncButtonClicked()" size="small" outlined="true" severity="primary">Daten abrufen</p-button>

<p-dialog [modal]="true" [(visible)]="isVisible" closable="false">
    <div class="flex-col-2">
        <div class="flex-col-2" style="width: 500px; height: 400px; align-items: center;">
            <div class="flex-row-1">
                <i class="pi pi-spin pi-spinner" style="font-size: 2rem; color: var(--primary-color)"></i>
                <span class="p-dialog-title">Buchungen werden geladen...</span>
            </div>
        </div>
    </div>
</p-dialog>
<app-tan-dialog></app-tan-dialog>