<div class="horizontal" style="gap: 0.5rem">
    <form (ngSubmit)="onSearchSubmit()" #heroForm="ngForm">
        <p-iconfield>
            <p-inputicon styleClass="pi pi-search" />
            <input pInputText style="width: 100%" placeholder="Suche" name="search" [(ngModel)]="searchText" autocomplete="off" />
        </p-iconfield>
    </form>
    @if (showClearButton) {
        <p-button
            icon="pi pi-times"
            size="small"
            [rounded]="false"
            [text]="true"
            severity="secondary"
            [outlined]="true"
            (onClick)="onResetButtonClicked()"
            [style]="{ height: '32px' }"
        />
    }
</div>
