.value {
    min-width: 130px;
    text-align: right;
}

.name {
    min-width: 120px;
}

.line {
    cursor: pointer;
}

.line:hover {
    background: var(--p-navigation-item-focus-background);
}

a {
    text-decoration: none;
    color: inherit;
    &:visited {
        color: inherit;
    }
    &:active {
        color: inherit;
    }
}
