:host {
    margin: 0 -45px 0 -46px;
}

@media only screen and (max-width: 1000px) {
    :host {
        margin: 0 -7px 0 -7px;
    }
}


.tile {
    border: 1px solid var(--p-content-border-color);
    border-radius: var(--p-content-border-radius);
    margin: 0.5rem;
    background-color: var(--p-content-background);
    overflow: hidden;
    position: relative;

    &::before, &::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        height: 3rem;
        pointer-events: none;
        z-index: 2;
        transition: opacity 0.2s;
    }

    &::before {
        top: 0;
        background: linear-gradient(to top, transparent, var(--p-content-background));
        opacity: 0;
    }

    &::after {
        bottom: 0;
        background: linear-gradient(to bottom, transparent, var(--p-content-background));
    }

    &.scrolled-bottom::after {
        opacity: 0;
    }

    &:not(.scrolled-top)::before {
        opacity: 1;
    }
}



.tile-inner {
    padding: 1.5rem;

}

.key-value {
    display: flex;
    padding: 0.2rem 0;
}

.key-value > div:first-child {
    flex: 1;
}
