:host {
    margin: 0 -45px 0 -46px;
}

@media only screen and (max-width: 1000px) {
    :host {
        margin: 0 -7px 0 -7px;
    }
}


.tile {
    border: 1px solid var(--p-content-border-color);
    border-radius: var(--p-content-border-radius);
    margin: 0.5rem;
    background-color: white;
    //box-shadow: inset 0px -16px 15px -3px rgba(0, 0, 0, 0.1);;
}

.tile-inner {
    padding: 1.5rem;

}

.key-value {
    display: flex;
    padding: 0.2rem 0;
}

.key-value > div:first-child {
    flex: 1;
}
