<div class="horizontal">
    @if (showDataTypeSelection()) {
        <span class="hidden-on-mobile">Ansicht: </span>
        <p-dropdown
            [options]="dataOptions"
            [(ngModel)]="selectedData"
            optionLabel="name"
            optionValue="key"
            [style]="{ 'min-width': '180px' }"
            (onChange)="onGroupingChanged($event)"
        />
    }
    <span class="hidden-on-mobile">Gruppierung: </span>
    <p-dropdown
        [options]="viewGroupOptions"
        [(ngModel)]="selectedViewGrouping"
        optionLabel="name"
        optionValue="key"
        [style]="{ 'min-width': '150px' }"
        (onChange)="onGroupingChanged($event)"
    />
</div>
