<p-buttongroup>
    <p-button [severity]="'secondary'" outlined="true" [className]="current == '3months' ? 'active' : ''" (onClick)="on3MonthClicked()">3 Monate</p-button>
    <p-button [severity]="'secondary'" outlined="true" [className]="current == '6months' ? 'active' : ''" (onClick)="on6MonthClicked()">6 Monate</p-button>
    <p-button [severity]="'secondary'" outlined="true" [className]="current == '12months' ? 'active' : ''" (onClick)="on12MonthClicked()">12 Monate</p-button>
    <p-button [severity]="'secondary'" outlined="true" [className]="current == 'current' ? 'active' : ''" (onClick)="onCurrentYearClicked()">{{
        currentYear
    }}</p-button>
    <p-button [severity]="'secondary'" outlined="true" [className]="current == 'last' ? 'active' : ''" (onClick)="onLastYearClicked()">{{ lastYear }}</p-button>
    <p-button [severity]="'secondary'" outlined="true" [className]="current == '5year' ? 'active' : ''" (onClick)="on5YearClicked()">5 Jahre</p-button>
    <p-button [severity]="'secondary'" outlined="true" [className]="current == 'all' ? 'active' : ''" (onClick)="onAllClicked()">Alle</p-button>
</p-buttongroup>
