<p-panel style="max-width: 60rem; margin: 0 auto">
    <ng-template pTemplate="header">
        <div class="horizontal" style="width: 100%">
            <h1>Einstellungen</h1>
        </div>
    </ng-template>

    <a [routerLink]="['/settings/bank-connections']" class="menu-entry">
        <i class="pi pi-building"></i>
        <b>Bankverbindungen</b>
        <div>Verwalten Sie Ihre Bankverbindungen. Fügen Sie neue Konten hinzu, bearbeiten Sie bestehende Zugangsdaten oder entfernen Sie nicht mehr benötigte Verbindungen.</div>
    </a>

    <a [routerLink]="['/settings/stocks']" class="menu-entry">
        <i class="pi pi-chart-bar"></i>
        <b>Aktien</b>
        <div>Verwalten Sie Ihre Aktien und Wertpapiere. Fügen Sie neue Aktien hinzu, bearbeiten Sie Symbole oder entfernen Sie nicht mehr benötigte Einträge.</div>
    </a>

    <a [routerLink]="['/settings/rules']" class="menu-entry">
        <i class="pi pi-code"></i>
        <b>Regeln</b>
        <div>Mit Regeln können Sie Buchungen automatisch anpassen oder ergänzen. Legen Sie Bedingungen fest, um Felder zu ändern, Texte zu erweitern oder Kategorien automatisch zuzuweisen.</div>
    </a>

    <a [routerLink]="['/settings/categories']" class="menu-entry">
        <i class="pi pi-tags"></i>
        <b>Kategorien</b>
        <div>Kategorien helfen dabei, Buchungen zu ordnen und Auswertungen übersichtlicher zu gestalten. So erkennen Sie leichter, wohin Ihr Geld fließt und wofür Sie es ausgeben.</div>
    </a>

    <a [routerLink]="['/settings/inflation-data']" class="menu-entry">
        <i class="pi pi-chart-line"></i>
        <b>Verbraucherpreisindex (VPI)</b>
        <div>Die VPI-Daten werden automatisch täglich von der Genesis API des Statistischen Bundesamts heruntergeladen.</div>
    </a>

    <a [routerLink]="['/settings/mail-integration']" class="menu-entry">
        <i class="pi pi-inbox"></i>
        <b>E-Mail Integration</b>
        <div>Verbinden Sie MoneySpot mit Ihrem E-Mail-Konto, um automatisch Details aus Bestellbestätigungen oder Rechnungen an Buchungen anzuhängen.</div>
    </a>

    <a [routerLink]="['/settings/system']" class="menu-entry">
        <i class="pi pi-microchip"></i>
        <b>System</b>
        <div>Zeigt technische Informationen zur Anwendung sowie Werkzeuge für Diagnose und Fehlerbehebung. Nützlich zur Analyse von Problemen oder zur Unterstützung bei Supportanfragen.</div>
    </a>
</p-panel>
