<form style="height: 100%" [formGroup]="form">
    <div class="vertical" style="padding: 2rem; height: 100%">
        <div class="horizontal key-value">
            <div>Art:</div>
            <p-dropdown [options]="types" formControlName="selectedType" optionLabel="name" optionValue="id" name="selectedType" [style]="{ width: '100%' }" />
        </div>

        <div class="horizontal key-value">
            <div>Datum:</div>
            <p-datepicker formControlName="timestamp" />
        </div>

        <div class="horizontal key-value">
            <div>Anzahl:</div>
            <p-inputNumber formControlName="amount" name="amount" />
        </div>

        <div class="horizontal key-value">
            <div>Preis:</div>
            <p-inputNumber formControlName="price" name="price" mode="currency" currency="EUR" />
        </div>

        <div class="spacer"></div>

        <div class="horizontal">
            <div class="spacer"></div>
            <p-button [outlined]="true" [style]="{ 'min-width': '100px' }" (onClick)="onCancelClicked()" label="Abbrechen"></p-button>
            <p-button [style]="{ 'min-width': '100px' }" label="Ok"></p-button>
        </div>
    </div>
</form>
