<form style="height: 100%; padding-top: 0.5rem" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="vertical" style="height: 100%">
        <div class="horizontal key-value">
            <div>Aktie:</div>
            <p-dropdown [options]="stocks" formControlName="stock" optionLabel="name" optionValue="id" name="stock" [style]="{ width: '100%' }" />
        </div>

        <div class="horizontal key-value">
            <div>Art:</div>
            <p-dropdown [options]="types" formControlName="type" optionLabel="name" optionValue="id" name="selectedType" [style]="{ width: '100%' }" />
        </div>

        <div class="horizontal key-value">
            <div>Datum:</div>
            <p-datepicker formControlName="date" dateFormat="dd.mm.yy" />
        </div>

        <div class="horizontal key-value">
            <div>Anzahl:</div>
            <input type="number" pInputText formControlName="amount" name="amount" autocomplete="off" />
        </div>

        <div class="horizontal key-value">
            <div>Preis:</div>
            <input type="number" pInputText formControlName="price" name="price" autocomplete="off" />
        </div>

        <div class="spacer"></div>

        <div class="horizontal">
            @if (id !== undefined) {
                <p-button icon="pi pi-trash" (onClick)="onDeleteClicked()" severity="danger" />
            }
            <div class="spacer"></div>
            <p-button [outlined]="true" [style]="{ 'min-width': '100px' }" (click)="onCancelClicked()" label="Abbrechen"></p-button>
            <p-button type="submit" [style]="{ 'min-width': '100px' }" [disabled]="!form.valid" label="Ok"></p-button>
        </div>
    </div>
</form>
