<div class="vertical">
    <div class="horizontal vertical-on-mobile">
        <app-date-range-picker [showClearButton]="false"></app-date-range-picker>
        <app-date-range-presets></app-date-range-presets>
        <div class="spacer"></div>
        <div class="flex items-center">
            <p-togglebutton inputId="startFromZero" name="startFromZero" onIcon="pi pi-expand" offIcon="pi pi-expand" onLabel="Auf 0 skalieren" offLabel="Auf 0 skalieren"   [(ngModel)]="startFromZero" (ngModelChange)="onStartFromZeroChanged()"></p-togglebutton>
        </div>

    </div>

    <p-panel>
        <ng-template pTemplate="header">
            <h1>Gesamt</h1>
        </ng-template>
        @for (chart of charts; track chart.index) {
        <highcharts-chart [Highcharts]="Highcharts" [options]="chart" style="width: 100%; display: block"></highcharts-chart>
        }
    </p-panel>
</div>
