<div class="vertical">
    <div class="horizontal vertical-on-mobile">
        <app-date-range-picker [showClearButton]="false"></app-date-range-picker>
        <app-date-range-presets></app-date-range-presets>
        <div class="spacer"></div>
        <div class="flex items-center">
            <p-togglebutton inputId="startFromZero" name="startFromZero" onIcon="pi pi-expand" offIcon="pi pi-expand" onLabel="Auf 0 skalieren" offLabel="Auf 0 skalieren"   [(ngModel)]="startFromZero" (ngModelChange)="onStartFromZeroChanged()"></p-togglebutton>
        </div>

    </div>

    <p-panel>
        <ng-template pTemplate="header">
            <h1>Verlauf</h1>
        </ng-template>
        <p-tabs value="0">
            <p-tablist>
                <p-tab value="0">Gesamt</p-tab>
                <p-tab value="1">Aktiengewinn</p-tab>
            </p-tablist>
            <p-tabpanels>
                <p-tabpanel value="0">
                    <app-total-history-chart class="chart" [data]="data()" [startFromZero]="startFromZero" [visibleRange]="dateRange()"/>
                </p-tabpanel>
                <p-tabpanel value="1">
                    <app-profit-history-chart class="chart" [data]="data()" [visibleRange]="dateRange()"/>
                </p-tabpanel>
            </p-tabpanels>
        </p-tabs>
    </p-panel>
</div>
