.chart {
    width: 100%;
    height: calc(100vh - 250px);
}

.zero-toggle {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    line-height: 1;

    label {
        margin: 0;
        cursor: pointer;
        user-select: none;
    }
}

