<div class="flex-col-1">
    <div class="horizontal vertical-on-mobile">
        <p-calendar selectionMode="range" [(ngModel)]="dateRange" (ngModelChange)="update()" view="month" dateFormat="mm/yy" />
        <app-daterange-preset-selector [(range)]="dateRange" (rangeChange)="update()"></app-daterange-preset-selector>
    </div>

    @for (chart of charts2; track chart) {
        <highcharts-chart [Highcharts]="Highcharts" [options]="chart" style="width: 100%; display: block"></highcharts-chart>
    }
</div>
