<p-panel>
    <ng-template pTemplate="header">
        <div class="horizontal" style="width: 100%; gap: 2rem">
            <b style="font-size: 1.4rem">Käufe / Verkäufe</b>
            <div class="spacer"></div>
            <p-button label="Neu" icon="pi pi-plus" [outlined]="true" (click)="onNewClicked()"></p-button>
        </div>
    </ng-template>

    @if (transactions?.length === 0) {
        <p>Keine Transaktionen gefunden.</p>
    } @else {
        <div class="table">
            <div class="horizontal line header hidden-on-mobile">
                <div class="date oneLine">Datum</div>
                <div class="name oneLine">Aktie</div>
                <div class="amount oneLine">Anzahl</div>
                <div class="price oneLine">Preis</div>
                <div class="total oneLine">Gesamt</div>
            </div>

            <p>No transactions found.</p>

            @for (transaction of transactions; track transaction.id) {
                <a pRipple class="horizontal line" (click)="onTransactionClicked(transaction)">
                    <div class="date oneLine">{{ transaction.date! | customDate }}</div>
                    <div class="name oneLine">{{ transaction.stockName }}</div>
                    <div class="amount oneLine">{{ transaction.amount | number }}</div>
                    <div class="price oneLine"><app-value [value]="transaction.price * 100"></app-value></div>
                    <div class="total oneLine"><app-value [value]="transaction.price * 100 * transaction.amount"></app-value></div>
                </a>
            }
        </div>
    }
</p-panel>
