<p-panel>
    <ng-template pTemplate="header">
        <div class="horizontal" style="width: 100%">
            <h1>Regeln</h1>
            <div class="spacer"></div>
            <p-button label="Neue Regel" (onClick)="onNewRuleClicked()" />
        </div>
    </ng-template>

    @if (rules().length > 0) {

    <p>Regeln werden von oben nach unten abgearbeitet. Die letzte treffende Regel gewinnt.</p>

    <p-table [value]="rules()" [scrollable]="true" [tableStyle]="{'min-width':'50rem'}" [reorderableColumns]="true" (onRowReorder)="onRowReorder($event)">
        <ng-template pTemplate="header">
            <tr>
                <th>Name</th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rule let-index="rowIndex">
            <tr [pReorderableRow]="index">
                <td style="width: 1rem;">
                    <span class="pi pi-bars" pReorderableRowHandle></span>
                </td>
                <td>
                    <span style="padding-right: 1rem;">
                        {{ rule.name }}
                    </span>
                    @if (rule.hasSyntaxErrors) {
                    <p-tag value="Syntax Fehler" severity="danger" pTooltip="Diese Regel hat Syntaxfehler und wird nicht ausgeführt." [rounded]="true" />
                    }
                    @if (rule.runtimeError) {
                    <p-tag value="Laufzeit Fehler" severity="danger" [pTooltip]="'Diese Regel hat zur Laufzeit Fehler produziert: ' + rule.runtimeError" [rounded]="true" />
                    }
                </td>
                <td style="text-align: right;">
                    <p-button icon="pi pi-pencil" (onClick)="onEditRule(rule)" title="Regel bearbeiten" rounded="true" [style]="{ 'margin-right': '.5em' }" variant="text" />
                    <p-button icon="pi pi-trash" (onClick)="onDeleteRule(rule)" severity="warn" title="Regel löschen" rounded="true" variant="text"
                        [style]="{ 'margin-right': '.5em' }" />
                </td>
            </tr>
        </ng-template>
    </p-table>
    } @else {
    <div class="vertical" style="align-items: center; padding: 2rem; color: var(--text-secondary-color)">
        <i class="pi pi-folder-open" style="font-size: 4rem"></i>
        <div style="height: 1rem"></div>
        <div>Es sind noch keine Regeln angelegt.</div>
        <div>Über den Button "Neue Regel" können Regeln hinzugefügt werden.</div>
    </div>
    }
</p-panel>