<p-panel>
    <ng-template pTemplate="header">
        <b style="font-size: 1.5rem; flex: 1">Ziel</b>
    </ng-template>

    @if (chart !== undefined) {
        <highcharts-chart
            [Highcharts]="Highcharts"
            [options]="chart"
            style="width: 100%; height: 300px; display: block; padding-bottom: 1rem"
        ></highcharts-chart>
        <div class="vertical">
            <div class="horizontal">
                <div style="flex: 1">Ziel:</div>
                <div style="text-align: right"><app-value [value]="targetValue" /> am {{ targetDate | customDate }}</div>
            </div>
            <div class="horizontal">
                <div style="flex: 1">Benötigte Sparrate pro Monat:</div>
                <div style="text-align: right"><app-value [value]="requiredSavingPerMonth" /></div>
            </div>
        </div>
    }
</p-panel>
