:host {
    height: 100%;
    display: blocK;
    min-width: 230px;
}

ul {
    list-style: none;
    padding: 1rem;
    margin: 0;
}

a {
    text-decoration: none;
    padding: 1rem 1rem;
    display: block;
    height: 100%;
    width: 100%;
    color: var(--p-text-color)
}

.active {
    color: var(--p-navigation-item-active-color) !important;
    background: var(--p-navigation-item-active-background) !important;
}

a:hover {
    color: var(--p-navigation-item-focus-color);
    background: var(--p-navigation-item-focus-background);
}
