:host {
    height: 100vh;
    display: flex;
    flex-direction: column;
    min-width: 230px;
}

ul {
    list-style: none;
    padding: 1rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 0.5rem;
}

a {
    text-decoration: none;
    padding: 1rem 1rem;
    display: block;
    height: 100%;
    width: 100%;
    color: var(--p-text-color);
    border-radius: 8px;
}

.active {
    color: var(--p-navigation-item-active-color) !important;
    background: var(--p-navigation-item-active-background) !important;
}

a:hover {
    color: var(--p-navigation-item-focus-color);
    background: var(--p-navigation-item-focus-background);
}

i {
    margin-right: 0.5rem;
    width: 16px;
    text-align: center;
}
