:host {
    height: 100%;
    display: blocK;
    min-width: 230px;
}

ul {
    list-style: none;
    padding: 1rem;
    margin: 0;
}

li:hover {
    background-color: var(--surface-200);
}

a {
    text-decoration: none;
    padding: 1.5rem 1rem;
    display: block;
    height: 100%;
    width: 100%;
    color: var(--text-color);
    border-left: 1px solid  var(--gray-600);
}

.active {
    border-left: 1px solid var(--surface-900);
    background-color: var(--surface-200);
    color: var(--highlight-text-color);
    background: var(--highlight-bg);
}