<div class="horizontal" style="gap: 0.5rem; font-weight: bold; font-size: 1.5rem; padding: 2rem 0 2rem 1rem;">
    <img ngSrc="favicon.svg" width="40" height="40"  alt="Logo"/><span>MoneySpot 6</span>
</div>

<ul>
    <li><a pRipple [routerLink]="['']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><i class="pi pi-home"></i> Dashboard</a></li>
    <li><a pRipple [routerLink]="['/transactions']" routerLinkActive="active"><i class="pi pi-list"></i> Transaktionen
            @if (newTransactionCount != 0) {
            <div style="position: relative; display: inline">
                <div style="position: absolute; top: -2px">
                    <p-badge [value]="newTransactionCount" severity="warn" />
                </div>
            </div>
            }
        </a>
    </li>
    <li><a pRipple [routerLink]="['/cashflow']" routerLinkActive="active"><i class="pi pi-money-bill"></i> Cashflow</a></li>
    <li><a pRipple [routerLink]="['/history']" [queryParams]="{'dateRange': currentYearQueryParam}" routerLinkActive="active"><i class="pi pi-chart-line"></i> Verlauf</a></li>
    <li><a pRipple [routerLink]="['/categories']" [queryParams]="{'dateRange': currentMonthQueryParam}" routerLinkActive="active"><i class="pi pi-tags"></i> Kategorien</a></li>
    <li><a pRipple [routerLink]="['/stock-transactions']" routerLinkActive="active"><i class="pi pi-shopping-cart"></i> Aktien-Trades</a></li>
    <li><a pRipple [routerLink]="['/stock-history']" routerLinkActive="active"><i class="pi pi-chart-bar"></i> Kursentwicklung</a></li>
    <li><a pRipple [routerLink]="['/settings']" routerLinkActive="active"><i class="pi pi-cog"></i> Einstellungen</a></li>
    <div class="spacer"></div>
    <li><a pRipple href="/api/Auth/Logout"><i class="pi pi-sign-out"></i> Abmelden</a></li>
</ul>
