<div class="horizontal" style="gap: 0.5rem; font-weight: bold; font-size: 1.5rem; padding: 2rem 0; padding-left: 1rem">
    <img src="favicon.svg" width="40" height="40" /><span>MoneySpot 6</span>
</div>

<ul>
    <li><a pRipple [routerLink]="['']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Übersicht</a></li>
    <li><a pRipple [routerLink]="['/transactions']" routerLinkActive="active">Buchungen</a></li>
    <li><a pRipple [routerLink]="['/history']" routerLinkActive="active">Verlauf</a></li>
    <li><a pRipple [routerLink]="['/income-expense']" routerLinkActive="active">Einnahmen / Ausgaben</a></li>
    <li><a pRipple [routerLink]="['/stock-transactions']" routerLinkActive="active">Aktien Käufe / Verkäufe</a></li>
    <li><a pRipple [routerLink]="['/stock-history']" routerLinkActive="active">Kursverlauf</a></li>
    <li><a pRipple [routerLink]="['/settings']" routerLinkActive="active">Einstellungen</a></li>
    <li><a pRipple [routerLink]="['/debug']" routerLinkActive="active">Debug</a></li>
    <li><a pRipple href="/api/Auth/Logout">Abmelden</a></li>
</ul>