<p-dialog
    header="Fehler"
    [modal]="true"
    [(visible)]="visible"
    [closable]="false"
    [style]="{ width: '600px', maxWidth: '90vw' }"
>
    <div class="vertical">
        <div class="horizontal">
            <i class="pi pi-exclamation-triangle error-icon"></i>
            <div>
                <h3 style="margin: 0">{{ errorName }}</h3>
                @if (httpStatus) {
                    <small>HTTP {{ httpStatus }}</small>
                }
            </div>
        </div>

        <div class="error-message">{{ errorMessage }}</div>

        @if (stack) {
            <pre>{{ stack }}</pre>
        }
        @if (src) {
            <iframe [src]="src"></iframe>
        }
        @if (!stack && !src && rawError) {
            <pre>{{ rawError }}</pre>
        }
    </div>

    <ng-template #footer>
        <p-button label="Seite neu laden" (click)="reload()"></p-button>
    </ng-template>
</p-dialog>
